.cargo/
*.pdb
QRnew.app/
QRnew-macos.zip
QRnew-windows/
qrnew-linux/
qrnew-linux.tar.gz
.DS_Store
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source