[Desktop Entry]
Name=QRnew
Comment=Local-only QR code generator
Type=Application
Icon=dev.lhdjung.QRnew
Exec=qrnew %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
